/* diagnostic styling */
* {
    outline: 1px dotted gray;
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* scene (the cards), objects (stuff within the cards), faces (font and back of teh cards)*/
.scene {
    width: 300px;
    height: 400px;
    /* space between card-scenes */
    margin: 16px;
    border-radius: 20px;

    /* set perspective   */
    perspective: 300px;
}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d ( */
    transform-style: preserve-3d;
}

/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;

    /* hide back face   */
    backface-visibility: hidden;
}

.front {
    background: #D74826;
    border-radius: 20px;
}

.back {
    background: #F0F8FF;
    /* flip it default   */
    transform: rotateY(180deg);
    border-radius: 20px;
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h1{
    font-size: 2em;
    margin: 2px;
}

h2{
    font-size: 1.5em; 
}

p {
    margin: 10px;
}

@media only screen and (max-width: 30em){

}

/* Start of cover / hover aniamtion */
/* This is the overlay for card */
/* Parent */
.cover{
position: relative;
width: 50%
}

.image{
    display:block; 
    width: auto;
    height: auto;
}

/* Hover overlay */
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

/* Hover overlay action */
.container:hover .overlay {
    opacity: 1;
  }

  /* Child */
  /* Text overlay style */
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* End of overlay */